<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="PartnerServiceSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="UserAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="AppAuthentication" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ScenarioSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!--<appSettings>
    
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>-->


  <!-- Groups settings related to remote endpoints needed to access the partner API service -->
  <PartnerServiceSettings>
    <add key="PartnerServiceApiEndpoint" value="https://api.partnercenter.microsoft.com" />
    <add key="AuthenticationAuthorityEndpoint" value="https://login.windows.net" />
    <add key="GraphEndpoint" value="https://graph.windows.net" />
    <add key="CommonDomain" value="common" />
  </PartnerServiceSettings>
  
  <UserAuthentication>
    <!-- The active directory application ID used by the user login, paste your application ID here. -->
    <add key="ApplicationId" value="e5ae74fb-bed3-4859-9dd0-e458c892e89f" />
    <!-- The resource the application is attempting to access i.e. the partner API service. -->
    <add key="ResourceUrl" value="https://api.partnercenter.microsoft.com" />
    <add key="RedirectUrl" value="http://localhost" />
    <!-- The active directory user credentials, paste your credentials here. -->
    <add key="UserName" value="sds@wsitest.onmicrosoft.com" />
    <add key="Password" value="5P1c@2019!" />
  </UserAuthentication>

  <AppAuthentication>
    <!-- The active directory application ID used by the application login, paste your application ID here. -->
    <add key="ApplicationId" value="e5ae74fb-bed3-4859-9dd0-e458c892e89f" />
    <!-- The active directory application secret used by the application login, paste your application secret here. -->
    <add key="ApplicationSecret" value="qmYSgtUD4Mk+pje/L3d3X23Ka3V7/GoXRkb62q41SIU=" />
    <!-- The active directory domain on which the application is hosted. Paste your domain here. -->
    <add key="Domain" value="wsitest.onmicrosoft.com" />
    <!-- 
    Endpoint address for the instance of Azure KeyVault. This is
    the DNS Name for the instance of Key Vault that you provisioned.
 -->
    <add key="KeyVaultEndpoint" value="wsicsp-vault.vault.azure.net" />

    <!-- App ID that is given access for KeyVault to store refresh tokens -->
    <add key="ida:KeyVaultClientId" value="ca55944e-32bb-4d3c-8a4c-d5f8d96f994d" />

    <!-- 
    Please use certificate as your client secret and deploy the certificate
    to your environment. The following application secret is for sample
    application only. please do not use secret directly from the config file.    
-->
    <add key="ida:KeyVaultClientSecret" value="xdfsIPyuSQr/DG8WuhCt70Mab2jkfBS6ghxXWlQDiBA=" />
  </AppAuthentication>
    
  <!-- Holds samples settings -->
  <ScenarioSettings>
    <!-- The domain suffix to use when creating a new customer -->
    <add key="CustomerDomainSuffix" value="onmicrosoft.com" />
    <!-- The ID of the customer to delete from the TIP account, leave empty to prompt user to enter it -->
    <add key="CustomerIdToDelete" value="" />
    <!-- The ID of the customer user to delete, leave empty to prompt user to enter it -->
    <add key="CustomerUserIdToDelete" value="" />
    <!-- The ID of the default directory role, leave empty to prompt user to enter it -->
    <add key="DefaultDirectoryRoleId" value="" />
    <!-- The ID of the default user member of default directory role, leave empty to prompt user to enter it -->
    <add key="DefaultUserMemberId" value="" />
    <!-- The ID of the default customer to use for customer related samples, leave empty to prompt user to enter it -->
    <add key="DefaultCustomerId" value="" />
    <!-- The ID of the default customer user to use for customer user related samples, leave empty to prompt user to enter it -->
    <add key="DefaultCustomerUserId" value="" />
    <!-- The number of customers to retrieve per page -->
    <add key="CustomerPageSize" value="100" />
    <!-- The number of customer users to retrieve per page -->
    <add key="CustomerUserPageSize" value="10" />
    <!-- The number of invoices to retrieve per page -->
    <add key="InvoicePageSize" value="100" />
    <!-- The default Invoice ID of partner, leave empty to prompt user to enter it -->
    <add key="DefaultInvoiceId" value="" />
    <!-- The partner MPN ID to use in indirect partner samples, leave empty to prompt user to enter it -->
    <add key="PartnerMpnId" value="" />
    <!-- The service request ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultServiceRequestId" value="" />
    <!-- The number of service requests to retrieve per page -->
    <add key="ServiceRequestPageSize" value="100" />
    <!-- The support topic ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultSupportTopicId" value="" />
    <!-- The partner MPN ID to use in indirect partner samples, leave empty to prompt user to enter it -->
    <add key="PartnerMpnId" value="" />
    <!-- The number of offers to return per page -->
    <add key="DefaultOfferPageSize" value="20" />
    <!-- The offer ID to use in offer scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOfferId" value="" />
    <!-- The order ID to use in order scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOrderId" value="" />
    <!-- The subscription ID to use in subscription scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultSubscriptionId" value="" />
    <!-- The number of subscriptions to retrieve per page -->
    <add key="SubscriptionPageSize" value="20" />
    <!-- The ID of the default indirect reseller to use for indirect model related samples, leave empty to prompt user to enter it -->
    <add key="DefaultIndirectResellerId" value="" />
  </ScenarioSettings>


  <connectionStrings>
    <add name="DefaultConnection" connectionString="Password=milktea;User ID=milktea;Initial Catalog=donati1;Data Source=WSIMKT-DT657\MSSQLSERVERV2; Persist Security Info=true; Connect Timeout=60" providerName="System.Data.SqlClient" />

    <!--Password=r3dGr$pes;User ID=mktgdb_user;Initial Catalog=MktgDB;Data Source=wsimkt-condor; Persist Security Info=true; Connect Timeout=60-->

    <add name="MSIPortalEntities" connectionString="metadata=res://*/Models.MSIPortalEntities.csdl|res://*/Models.MSIPortalEntities.ssdl|res://*/Models.MSIPortalEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;                                   Password=milktea;User ID=milktea;Initial Catalog=donati1;Data Source=WSIMKT-DT657\MSSQLSERVERV2; Persist Security Info=true; Connect Timeout=60&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- mailer credential-->
    <!--<add key="wsi_email" value="mailer@sdsolutions.com.ph" />
    <add key="wsi_password" value="*2L9Y6we!2YI!8Xc" />
    <add key="wsi_sender" value="WSI Portal" />
    <add key="wsi_Host" value="smtp.mailgun.org" />
    <add key="wsi_Port" value="587" />
    <add key="wsi_EnableSsl" value="True" />-->

    <add key="wsi_email" value="matthew.lizares@wsiphil.com.ph" />
    <add key="wsi_password" value="39bab395-5c65-4bce-b4af-abcb247ab690" />
    <add key="wsi_sender" value="WSI Portal" />

    
    <!-- AppID that represents CSP application -->
    <add key="ida:CSPApplicationId" value="e5ae74fb-bed3-4859-9dd0-e458c892e89f" />
    <!-- 
    Please use certificate as your client secret and deploy the certificate to your environment.
    The following application secret is for sample application only. please do not use secret directly from the config file.    
-->
    <add key="ida:CSPApplicationSecret" value="qmYSgtUD4Mk+pje/L3d3X23Ka3V7/GoXRkb62q41SIU=" />

    <!-- 
    Endpoint address for the instance of Azure KeyVault. This is
    the DNS Name for the instance of Key Vault that you provisioned.
 -->
    <add key="KeyVaultEndpoint" value="wsicsp-vault.vault.azure.net" />

    <!-- App ID that is given access for KeyVault to store refresh tokens -->
    <add key="ida:KeyVaultClientId" value="ca55944e-32bb-4d3c-8a4c-d5f8d96f994d" />

    <!-- 
    Please use certificate as your client secret and deploy the certificate
    to your environment. The following application secret is for sample
    application only. please do not use secret directly from the config file.    
-->
    <add key="ida:KeyVaultClientSecret" value="xdfsIPyuSQr/DG8WuhCt70Mab2jkfBS6ghxXWlQDiBA=" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
    <!--<customErrors mode="On" defaultRedirect="http://wsi-ms.2sds.com/err.html"/>-->
    <customErrors mode="Off" />

  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Store.PartnerCenter.Models" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.1.0" newVersion="1.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Store.PartnerCenter" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.1.0" newVersion="1.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Store.PartnerCenter.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.1.0" newVersion="1.13.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>