<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ac659741-3447-4617-8446-33a33e157a49/resourcegroups/WSISDS/providers/Microsoft.Web/sites/Portal20171107110453</ResourceId>
    <ResourceGroup>WSISDS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://portal20171107110453.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>portal20171107110453.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Portal20171107110453</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Portal20171107110453</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Portal.Models.ApplicationDbContext, Portal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MSIPortalEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:wsisdscsp.database.windows.net,1433;Initial Catalog=WSICSPdb;Persist Security Info=True;User ID=wsisds;Password=wsi@sds123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Portal.Models.MSIPortalEntities, Portal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MSIPortalEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MSIPortalEntities.csdl|res://*/Models.MSIPortalEntities.ssdl|res://*/Models.MSIPortalEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:wsisdscsp.database.windows.net,1433;Initial Catalog=WSICSPdb;Persist Security Info=True;User ID=wsisds;Password=wsi@sds123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MSIPortalEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>