
@{
    ViewBag.Title = "ChangePassword";

    Layout = "~/Views/Shared/_LayoutChangepw.cshtml";
}


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Change Password</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>


@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">Edit</div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <div class="form">

                            <label id="lblerrmsg" class="text-danger"></label>
                            <label id="lblUserID" hidden="hidden">@ViewBag.UserID</label>


                            <div class="form-group row">
                                <label class="col-2 col-form-label">Old Password:</label>
                                <div class="col-5">
                                    <input type="password" id="txt_oldpassword" class="form-control" placeholder="old password"  />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label">New Password:</label>
                                <div class="col-5">
                                    <input type="password" id="txt_newpassword" class="form-control" placeholder="new password" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label">Confirm Password:</label>
                                <div class="col-5">
                                    <input type="password" id="txt_confirmpassword" class="form-control" placeholder="confirm password" />
                                </div>
                            </div>

                            <div class="form-group m-b-0">
                                <div class="offset-sm-2 col-sm-9">

                                    <input id="btnSave" type="submit" value="Change Password" class="btn btn-danger" />                                    
                                    <a href="@Url.Action("ForgotPassword")" class="btn btn-inverse">Forgot Password</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--./row-->
    
}


<script>

    $('#btnSave').click(function (event) {

        event.preventDefault();
        // alert($('#lblUserID').text());
        if ($("#txt_newpassword").val() == $("#txt_confirmpassword").val()) {
            var user = new Object();
            user.ID = $('#lblUserID').text();
            user.Oldpassword = $('#txt_oldpassword').val();
            user.Newpassword = $('#txt_newpassword').val();

            $.ajax({

                url: "/Home/UpdatePassword",
                type: "POST",
                data: JSON.stringify(user),
                contentType: "application/json; charset=utf-8",
                success: function (r) {

                    alert("Password Updated!");
                    window.location.href = "/Home/Index";
                },
                error: function (xhr, acc, errorThrown) {
                    $("#lblerrmsg").text("old password is invalid");
                }

            });

        }
    });

    $(document).on('keyup change', '#txt_confirmpassword', function () {
        if ($("#txt_newpassword").val() != $("#txt_confirmpassword").val()) {
            $("#lblerrmsg").text("password not match");
        }
        else { $("#lblerrmsg").text(""); }
    });

</script>
